h1 {
		text-align:center;
		font-family: 'Nosifer', cursive;
		font-size: 60px;
		color:#996633;
		}
	body {
		background-color:#e0e0d1;
	}
	p {
		text-align:center;
		font-family: 'Lobster', cursive;
		font-size:40px;
		color:#996633;
	}
	.pic1 {
		width: 600px;
		float: right;
	}

	.pic2 {
		width: 600px;
		height: 300px;
		float: Left;
	}